apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: loki

resources:
  - namespace.yaml
  - configmap.yaml
  - secret.yaml
  - postgres-deployment.yaml
  - redis-deployment.yaml
  - backend-deployment.yaml
  - frontend-deployment.yaml
  - ingress.yaml
  - network-policy.yaml

commonLabels:
  app.kubernetes.io/name: loki
  app.kubernetes.io/version: "1.0.0"
  app.kubernetes.io/managed-by: kustomize
